<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div>
        <div class="col-2"><label for="name">Name: </label><input type="text" name="name" id="name"></div>
        <div class="col-2"><label for="surname">Surname: </label><input type="text" name="surname" id="surname"></div>
        <div class="col-2"><label for="index">Index: </label><input type="text" name="index" id="index"></div>
        <div class="col-2"><label for="nasoka">Nasoka: </label><input type="text" name="nasoka" id="nasoka"></div>
    </div>

    <input type="text" name="name" id="name">
    <input type="text" name="surname" id="surname">
    <input type="text" name="index" id="index">
    <input type="text" name="nasoka" id="nasoka">

</body>

</html>